﻿@{
    ViewData["Title"] = "Home page";
}

    <div>
        <div class="home">
            <h3 class="shadow-none p-3 bg-light rounded "
                style="text-align: center; justify; padding-top: 6px; padding-bottom: 2px; color: rgb(4,48,84); ">
                Welcome To Quest Group Of Institutions
            </h3>
            <div id="slides" class="carousel slide carousel-fade d-sm-block d-md-block d-xl-block" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active"></li>
                    <li data-target="#slides" data-slide-to="1"></li>
                    <li data-target="#slides" data-slide-to="2"></li>
                    <li data-target="#slides" data-slide-to="3"></li>
                    <li data-target="#slides" data-slide-to="4"></li>
                </ul>
                <div class="carousel-inner" style="background-attachment:fixed;">
                    <div class="carousel-item active">
                        <img src="~/img/international.jpg" alt="Quest International Students" />
                        <div class="carousel-caption d-none d-md-block d-sm-block">
                            <h2 class="display-2 container-fluid parallex-slider-title white">International Students Scholarship</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/annual.jpg" alt="Quest image" />
                        <div class="carousel-caption d-none d-md-block d-sm-block">
                            <h2 class="display-2 container-fluid parallex-slider-title white">Mixed Culture</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/sport.jpg" alt="Quest Students" />
                        <div class="carousel-caption d-none d-md-block d-sm-block">
                            <h2 class="display-2 container-fluid parallex-slider-title white">Sports Facilities</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/freshomania.jpg" alt="Quest Africans Students" />
                        <div class="carousel-caption d-none d-md-block d-sm-block">
                            <h2 class="display-2 container-fluid parallex-slider-title white">Quests Grand Convocation 2018</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/journey.jpg" alt="A journey " />
                        <div class="carousel-caption d-none d-md-block d-sm-block">
                            <h2 class="display-2 container-fluid parallex-slider-title white">A journey to Self-Realisation</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/bus.jpg" alt="Beautiful Ghana" />
                        <div class="carousel-caption d-none d-md-block d-sm-block">
                            <h2 class="display-2 container-fluid parallex-slider-title white">Ultra Modern Buses</h2>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="color: black;">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="color: black;">Next</span>
                </a>
            </div>
            <div class="container-fluid ">
                <div class="row" style="text-align: center;">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <h3 style="text-align:center;">Overview</h3>
                        <p style="text-align: justify; padding-top: 10px;">
                            With an aim to provide Engineering and Management education of
                            international quality and to bridge the gap between the Academia and Industry, Quest Infosys Foundation has
                            established Quest Group of Institutions at Mohali.<br>Under the leadership of highly experienced & visionary management,
                            Quest has pioneered in developing and implementing new models for higher education delivery. The institution offers full
                            time B.Tech and MBA programmes under Faculty of Engineering & Technology and Faculty of Management respectively.
                            Quest offers highly congenial and professional environment for the students to have a strong foundation of fundamentals and develop
                            a habit of life long learning, so that they achieve highest positions in their career.
                        </p>
                        <hr class="my-3">
                    </div>
                    <section class="module parallax parallax-1">
                        <div class="container">
                        </div>
                    </section>
                    <section class="module content">
                        <div class="container">
                            <h2>Mind is not the vessel to be filled, but a fire to be ignited</h2>
                            <p class="text-judtify">
                                Quest Group of institutions is backed by highly
                                qualified & experienced professionals having more than 15 years experience in the Professional Education sector.
                                This Integrated Campus is approved by All India Council of Technical Education (AICTE), Ministry of HRD, Govt. of
                                India and affiliated with Punjab Technical University, Jalandhar. The institution is ISO 9001:2008 certified for its
                                quality management systems.
                            </p>
                        </div>
                    </section>
                    <div class="col">
                        <section class="module parallax parallax-2 ">
                            <div class="container">
                            </div>
                        </section>
                    </div>
                    <div class="col">
                        <section class="module content">
                            <div class="container">
                                <h2>About Quest Group</h2>
                                <p class="text-judtify">
                                    We have trained more than
                                    20,000 students in Technical and skill oriented courses, enabling them to pursue a bright career in the global village.
                                    Quest Infosys Group is one of the leading groups in the field of Technical and Professional Education in Punjab. Established
                                    in 1995, Quest Infosys Group has emerged as one of the most advanced, highest quality education deliverer and education
                                    delivery systems manager. This has been made possible by strong emphasis on industry-academia relationship, workplace
                                    professionalism, in-house reviews and quality improvement initiatives.
                                </p>
                            </div>
                        </section>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <section class="module content" style="background-attachment:initial;">
                                <div class="container">
                                    <h2>Vision & Mission</h2>
                                    <p class="text-judtify">
                                        Quest Group of Institutions envisions to be recognized for its excellence in academics, solidarity, understanding
                                        and for its valuable contributions to industry, society and students. We are passionate about grooming leaders who
                                        are not only thorough professionals but also good human beings with values and sanskars.<br>
                                        The mission of the institutions is to achieve excellence in the inter-related areas of under-graduate and Post graduate
                                        education. The institutions tend to provide superior and comprehensive educational opportunities at the baccalaureate
                                        through special educational levels to create leaders, winners and achievers in a global corporate world. We are
                                        committed to contribute to the advancement of society through research, creative activity, scholarly inquiry and
                                        the development of new ideas.
                                    </p>
                                </div>
                            </section>
                        </div>
                        <div class="col">
                            <section class="module parallax parallax-3 " style="background-attachment:initial;">
                                <div class="container">
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <h3 style="font-size:50px;">Management</h3>
        <h2 class="text-center" style="font-size:20px;">Quest Group of Institutions</h2><hr>
        <div class="container">
            <div class="row" style="text-align:center;">
                <div class="col-sm">
                    <img src="~/img/ds.jpg" alt="A journey " />
                    <h2>D.S. Sekhon</h2>
                    <h5>Chairman</h5>
                    <p class="text-judtify">
                        D.S. Sekhon is a technocrat and management professional having more than 17 years experience in industry and education
                        sector. He is an alumni of Punjab Agriculture University passing B.Tech. and MBA from the prestigious institution.. A
                        visionary and a hardcore professional, he has lead Quest Infosys Group to unprecedented heights in the last 15 years with
                        his innovative thoughts and unrelenting approach. He has a deep understanding of all models of education delivery i.e.
                        Full Time, Part Time & Online Education and pioneered many successful projects in education sector in the state of Punjab.
                        He is the founder President of All India PTU DEP Associates, a body representing more than 2000 associates of PTU DEP and serving
                        more than 1.25 Lac students with quality technical education. He is also a member of the DEP Council of Punjab Technical
                        University, an advisory & statutory body of PTU DEP.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="~/img/mr_kanda.jpg" alt="A journey " />
                    <h2>H.P.S. Kanda</h2>
                    <h5>Vice Chairman</h5>
                    <p class="text-judtify">
                        H.P.S. Kanda is an accomplished IT professional having more than 15 years of experience in the
                        field of education and software development. He is an MCA and has got international certifications from Oracle Corp.,
                        Sun Microsystems and Novell Inc. USA for different technologies offered by these industry giants. He has been a member
                        of Board of Studies of PTU. He lead the team which conceptualized, developed and executed the EDP (Electronic Data
                        Processing) project at PTU DEP and has played instrumental role in transforming it into one of the most vibrant
                        system.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="~/img/mr_dhaliwal.jpg" alt="A journey " />
                    <h2>J.P.S. Dhaliwal</h2>
                    <h5>Vice Chairman</h5>
                    <p class="text-judtify">
                        J.P.S. Dhaliwal is an entrepreneur with more than 15 years experience in different fields.
                        He is an innovative development professional with extensive experience in the design, delivery, evaluation and
                        enhancement of effective policies and reforms.
                    </p>
                </div>
            </div>
        </div>
</div>