﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h2.parallex-slider-title {
  border-bottom: 1.2px solid #258be3;
  border-top: 1.2px solid #258be3;
  display: inline-block;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.35);
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 400px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/questlove.jpg");
  padding-right: 57.8%;
  padding-left: 40%;
  width: 100%;
}
section.module.parallax-2 {
  background-image: url("../img/welcome.jpg");
  padding-left: 50%;
}
section.module.parallax-3 {
  background-image: url("../img/placement.jpg");
  padding-left: 50%;
  width: 100%;
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
}
section.module p {
  font-size: 20px;
}
section.module.parallax h1 {
  font-size: 96px;
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.navbar {
  padding: 0.4rem;
}

.navbar-nav li {
  padding-right: 20px;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #f18503;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.nav-link {
  font-size: 1em !important;
}
.hUyWJq {
    flex-direction: column;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 41, 46);
    flex: 1 1 auto;
}
.text {
  color: #b12120 !important;
}
.is-hovered:hover {
  color: #b02c96 !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h2 {
  font-size: 300%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 130%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.carousel-cap3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

img.blur {
  filter: blur(5px);
}

.btn-primary {
  background-color: #7f7fff;
  border: 1px solid #b5b5c7;
}

.btn-primary:hover {
  background-color: #a6a4c4;
  border: 1px solid #7f7fff;
}

.Jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 0.3rem;
}

.social a {
  font-size: 2.5em;
  padding: 1rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}

hr.light {
  border-top: 2px solid #b02c96;
  width: 95%;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

footer a {
  color: white;
}

hr.light-100 {
  border-top: 2px solid #b02c96;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.my-3 {
  color: #6841f4;
  border-top: 2px solid #b02c96;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/**text center padding and margin */

/** Hero banner image */

.container-b {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: auto;
  margin-left: 20px;
  padding: 80px 15px;
  padding-top: 80px;
  padding-right: 15px;
  padding-bottom: 80px;
  padding-left: 15px;
}

/** Hero banner text */
.hero-tex {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  padding-left: 20px;
}

.container {
  max-width: 100%;
  width: 100%;
}

/** Go to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 75;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(85, 85, 85, 25%);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(85, 85, 85, 30%);
}

.black {
  background-color: rgb(81, 127, 164);
  color: #fff;
  height: 100%;
  width: 100%;
}

.tracking-in-expand {
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.card-title {
  text-align: center;
}
.card-header-signup {
  padding: 0.9rem 3.25rem;
  margin-bottom: 0;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/** BG image for P */

.hero-section {
  height: 450px;
  position: relative;
}

h3 {
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: grey;
}

p {
  font-size: 0.8rem;
  font-weight: bold;
}

button {
  font-size: 0.9rem;
}

.is-line {
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid black;
}

.rounded {
  border-radius: 0.25rem;
}

.welcome hr {
  border-top: 2px solid #b02c96;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .display-4 {
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 2rem !important;
  }

  .welcome {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .display-4 {
    font-size: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 4rem !important;
  }
}

input[type="file"].is-custom {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.1s, transform 0.2s;
}

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

/** Navigation color **/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 60px;
  color: #ff0000;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 60px;
  color: #ff0000;
}

/*Policy */
.view-pages .diva {
  margin: 0;
  padding: 20px 0;
  background: #3c3c3c;
  color: #fff;
  padding-right: 20px;
  margin-right: 20px;
}
.diva {
  margin: 0;
  padding: 40px 0;
  background: #3c3c3c;
  color: #fff;
  padding-right: 20px;
  margin-right: 20px;
}

.opacity-info-box {
  padding: 8%;
  padding-top: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.col-lg-6 {
  width: 100%;
  background-size: cover;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: left;
}
.col-md-7 {
  width: 58.33333%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mb-xs-20 {
  margin-bottom: 20px !important;
}
.text-sm-left {
  text-align: left;
}
.text-xs-center {
  text-align: center;
}

/* float */

.fleft {
  float: left;
  background: rgb(4, 48, 84);
}

.fright {
  float: right;
  background: rgb(4, 48, 84);
}
